body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e1e2e;
    color: #ffffff;
}
header, footer {
    background-color: #4e44ce;
    text-align: center;
    padding: 20px;
}
header h1, footer p {
    margin: 0;
}
nav {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #2d2d3e;
}
nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}
nav a:hover {
    color: #4e44ce;
}
main {
    padding: 20px;
    text-align: center;
}
ul {
    list-style: none;
    padding: 0;
}
ul li {
    margin: 10px 0;
    font-size: 1.2em;
}
section h2 {
    color: #4e44ce;
}

/* Стили для кнопки Присоединиться */
.button {
    display: inline-block;
    padding: 15px 30px;
    margin-top: 20px;
    background-color: #00bcd4; /* Светло-берюзовый */
    color: #ffffff;
    text-decoration: none;
    border-radius: 10px;
    font-size: 1.2em;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #008c91; /* Темный оттенок бирюзы при наведении */
}

/* Дополнительные стили для кнопки Присоединиться */
.join-button {
    padding: 20px 40px; /* Увеличиваем толщину */
    font-size: 1.5em; /* Увеличиваем размер текста */
    border-radius: 12px; /* Закругление углов */
}
